# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = entremed.settings

[deploy:production]
url = http://0.0.0.0:6800/
project = entremed
username = scrapyd
password = 474c7419e9febbccaecb466e8e231abe0fc219d0c75db73c46859c7670b87716
